<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementSystemASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystemASP.styles.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
        }
        .navbar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            flex-direction: column;
        }
        .container {
            margin-left: 250px;
            padding-top: 20px;
        }
        .container.full-width {
            margin-left: 65px; /* No margin when navbar is not present */
        }
    </style>
</head>
<body>

    @if (UserSession.GetInstance().CurrentUser != null && !string.IsNullOrEmpty(UserSession.GetInstance().CurrentUser.Role))
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-right box-shadow">
            <div class="container-fluid flex-column">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                <div class="navbar-collapse d-sm-inline-flex flex-column">
                    <ul class="navbar-nav flex-column">
                        @if (UserSession.GetInstance().CurrentUser != null)
                            {
                            var role = UserSession.GetInstance().CurrentUser.Role;

                            if (role == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                                </li>
                            }
                            else if (role == "Librarian")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Librarian" asp-action="Index">Librarian Dashboard</a>
                                </li>
                            }
                            else if (role == "Reader")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reader" asp-action="Index">Reader Dashboard</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="container @(UserSession.GetInstance().CurrentUser  == null ? "full-width" : "")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
