@using LibraryManagementSystemASP.Models

@{
    var currentUser = UserSession.GetInstance().CurrentUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS_ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystemASP.styles.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
        .navbar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            min-width: 300px;
            flex-direction: column;
            
        }
        .container {
            margin-left: 300px;
            padding: 40px;
        }
        .container.full-width {
            margin-left: 65px; /* No margin when navbar is not present */
        }
    </style>
</head>
<body>

    @if (UserSession.GetInstance().CurrentUser != null && !string.IsNullOrEmpty(UserSession.GetInstance().CurrentUser.Role))
    {
        <nav class="navbar navbar-expand-lg navbar-light lms-primary-bg border-right box-shadow pt-5">
            <div class="container-fluid flex-column">
                <p class="text-white fs-3 fw-bold">Dashboard</p>
                <div class="navbar-collapse d-sm-inline-flex flex-column mt-5 align-items-start">
                    <ul class="navbar-nav flex-column align-items-start">
                        @if (UserSession.GetInstance().CurrentUser != null)
                            {
                            var role = UserSession.GetInstance().CurrentUser.Role;

                            if (role == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AdminDashboard">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AdminBookManagement">Book Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AdminUserManagement">User Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Shared" asp-action="Records">Records</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile">Profile Page</a>
                                </li>
                            }
                            else if (role == "Librarian")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Librarian" asp-action="LibrarianDashboard">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Shared" asp-action="BookListings">Book Listings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Librarian" asp-action="LibrarianOperationsManagement">Operations Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Shared" asp-action="Records">Records</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile">Profile Page</a>
                                </li>
                            }
                            else if (role == "Reader")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Reader" asp-action="ReaderDashboard">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Shared" asp-action="BookListings">Browse Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Reader" asp-action="ReaderReservations">Reservations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Reader" asp-action="ReaderBorrowing">Borrowing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile">Profile Page</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <p class="footer text-center text-white fs-5 fw-normal">@currentUser?.Username</p>
            </div>
        </nav>
    }

    <div class="container @(UserSession.GetInstance().CurrentUser  == null ? "full-width" : "")">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
